.container {
  margin-left: 5%;
}

.header{
  margin-left:5%;
}

.posts {
  padding: 2%;
}

.card {
  margin-top: 2%;
  padding: 1%;
}

.alert {
  margin-top: 1%;
}

pre {
  white-space: pre-wrap;       /* Since CSS 2.1 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */

  background-color: white;
  border: none;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
