
<h1 class="header">Blog Form </h1>
<div class="container">
<form [formGroup]="blogPostForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="title">Title</label>
    <input type="text" class="form-control" id="title" required formControlName="title" name="title">
  <div *ngIf="title.invalid && (title.dirty || title.touched)"
       class="alert alert-danger">

    <div *ngIf="title.errors.required">
      Name is required.
    </div>
    <div *ngIf="title.errors.minlength">
      Name must be at least 3 characters long.
    </div>

  </div>
  </div>

  <div class="form-group">
    <label for="author">author</label>
    <input type="text" class="form-control" id="author" formControlName="author" name="author" required minlength="1">

    <div *ngIf="author.invalid && (author.dirty || author.touched)"
         class="alert alert-danger">

      <div *ngIf="author.errors.required">
        Name is required.
      </div>
      <div *ngIf="author.errors.minlength">
        Name must be at least 1 characters long.
      </div>

    </div>
  </div>

  <div class="form-group">
    <label for="body">body</label>
    <textarea rows="4" cols="50" class="form-control" id="body" formControlName="body" name="body" required>
    </textarea>

    <div *ngIf="body.invalid && (body.dirty || body.touched)"
         class="alert alert-danger">

      <div *ngIf="body.errors.required">
        Name is required.
      </div>
      <div *ngIf="body.errors.minlength">
        Name must be at least 1 characters long.
      </div>

    </div>
  </div>

  <button type="submit" class="btn btn-success" [disabled]="blogPostForm.invalid">Submit</button>

</form>


  <div class="card" *ngFor="let post of posts">
    <h4 class="card-title">{{ post.title }}</h4>
      <div class="card-block">
        <h6 class="card-subtitle mb-2 text-muted">{{post.author}}</h6>
        <p class="card-text">{{post.body}}</p>
      </div>
  </div>
</div>



